.green{
    color: green;
    font-size: 35px;
}

.blue{
    color: blue;
    font-size: 35px;
}

.red{
    color: red;
    font-size: 35px;
    }

#first{

    font-style: normal;
}

#second{
    font-style: bold;
}

#third{
    font-style: italic;
}